h1{
    text-align: center;
    background-color: blue;
    color: white;
}

nav{
    background-color: brown;
}
img{
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    border: 10px;
    padding: 10px;
}